---
---

@import "{{ site.theme }}";
header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Open Sans', 'Arial', Helvetica, Arial, serif;
  background: #2e7bcf url(https://cdna.artstation.com/p/assets/images/images/012/958/576/large/daniel-uribe-godzilla-wallpaper.jpg?1537370841.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}
