---
---

@import "{{ site.theme }}";
header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Open Sans', 'Arial', Helvetica, Arial, serif;
  background: #2e7bcf url(https://www.themoviedb.org/t/p/original/lN22lHqWOKRJgFvDZrcCwBm4eGB.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}
