---
---

@import "{{ site.theme }}";
body {
  font-family: 'Arial', Helvetica, Arial, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: #666;
  background: #fafafa url(../images/body-bg.jpg) 0 0 repeat;
}
header {
  padding-top: 40px;
  padding-bottom: 40px;
  font-family: 'Open Sans', 'Arial', Helvetica, Arial, serif;
  background: #2e7bcf url(https://cdna.artstation.com/p/assets/images/images/012/958/576/large/daniel-uribe-godzilla-wallpaper.jpg?1537370841.jpg) 0 0 repeat-x;
  border-bottom: solid 1px #275da1;
}
